.archimedes-event {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.archimedes-event .date {
  color:#777;
  font-style:italic;
}

.archimedes-event .action-type {
  width:15px;
  height:15px;
  float:left;
  background: transparent url(mini-time.png) no-repeat left 3px;
}

.archimedes-event .activity {
  padding-bottom:10px;
}

.archimedes-event .activity-comments {
  width:90%;
  margin-left:10%;
}

.archimedes-event .activity-comments .comment {
  padding:5px;
  margin-bottom:3px;
}

.archimedes-event .activity-comments .comment .clear {
  clear:both;
  display:block;
  margin:0;
  padding:0;
  border:0;
}

.archimedes-event .picture {
  float:left;
  margin: 0 5px 5px 0;
  border:1px solid #ccc;
}

/*table.archimedes-activity-table tbody tr.js .activity {
  overflow:hidden;
  display:block;
  padding-bottom:5px;
}*/
